In [1]:
import pandas as pd

In [2]:
# Excel-Dateien einlesen und DF erstellen
merged_dataset = pd.read_excel('merged_dataset.xlsx')
tweets_cleaned = pd.read_excel('tweets_cleaned.xlsx')

In [3]:
#Blick in die Hotel-Daten
merged_dataset

,Unnamed: 0,date_crawl,city,uid,book_date,price,event,rating,provider
0,0,2023-03-30,La Palma,title_44546103,2023-05-20,90,True,4.78,privat
1,1,2023-03-30,La Palma,title_14832235,2023-05-20,86,True,4.78,privat
2,2,2023-03-30,La Palma,title_22183776,2023-05-20,63,True,4.90,privat
3,3,2023-03-30,La Palma,title_26944967,2023-05-20,109,True,4.76,privat
4,4,2023-03-30,La Palma,title_741718109680848267,2023-05-20,46,True,4.85,privat
...,...,...,...,...,...,...,...,...,...
202919,97484,2023-04-15,Halle,https://www.booking.com/hotel/us/augusta-civic...,2023-06-23,201,True,1.70,gewerblich
202920,97485,2023-04-15,Halle,https://www.booking.com/hotel/us/fairfield-inn...,2023-06-23,213,True,2.02,gewerblich
202921,97486,2023-04-15,Halle,https://www.booking.com/hotel/us/augusta-281-c...,2023-06-23,201,True,1.75,gewerblich
202922,97489,2023-04-15,Halle,https://www.booking.com/hotel/us/charming-wate...,2023-06-23,767,True,2.00,privat
202923,97490,2023-04-15,Halle,https://www.booking.com/hotel/us/clary-lake-be...,2023-06-23,101,True,2.35,gewerblich

In [4]:
#Blick in die Twitter-Daten
tweets_cleaned

         city           event_name  tweets  retweets  likes  replies
0    La Palma                MLF23      18         8     68        1
1   Barcalona                BBF23      12        27     71        0
2        Lyon              NS20ans       1         1      3        0
3    Bruessel               lbjw23       0         0      0        0
4    Muenchen        Frühlingsfest      45         9    106       15
5   Amsterdam             kingsday      29        21    127       16
6     Sevilla         FeriadeAbril     303       977   2770      154
7    Helsinki            apriljazz       4         2     12        0
8    Brighton      FoodiesFestival       1         1      4        0
9     Hamburg      hafengeburtstag       9        29     90        8
10     Berlin  Karnevalderkulturen       0         0      0        0
11     Monaco             MonacoGP     129       992  11436      237
12  Noordwijk         bloemencorso      15         2      5        0
13    Bologna              ImolaGP      67       189   2637       85
14      Halle       HändelFestival       0         0      0        0

In [5]:
# leere Spalten für die Twitter-Elemente zum 'merged_dataset' DF hinzufügen
merged_dataset['event_name'] = None
merged_dataset['tweets'] = None
merged_dataset['retweets'] = None
merged_dataset['likes'] = None
merged_dataset['replies'] = None

In [6]:
#Blick in die Daten
merged_dataset

,Unnamed: 0,date_crawl,city,uid,book_date,price,event,rating,provider,event_name,tweets,retweets,likes,replies
0,0,2023-03-30,La Palma,title_44546103,2023-05-20,90,True,4.78,privat,None,None,None,None,None
1,1,2023-03-30,La Palma,title_14832235,2023-05-20,86,True,4.78,privat,None,None,None,None,None
2,2,2023-03-30,La Palma,title_22183776,2023-05-20,63,True,4.90,privat,None,None,None,None,None
3,3,2023-03-30,La Palma,title_26944967,2023-05-20,109,True,4.76,privat,None,None,None,None,None
4,4,2023-03-30,La Palma,title_741718109680848267,2023-05-20,46,True,4.85,privat,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202919,97484,2023-04-15,Halle,https://www.booking.com/hotel/us/augusta-civic...,2023-06-23,201,True,1.70,gewerblich,None,None,None,None,None
202920,97485,2023-04-15,Halle,https://www.booking.com/hotel/us/fairfield-inn...,2023-06-23,213,True,2.02,gewerblich,None,None,None,None,None
202921,97486,2023-04-15,Halle,https://www.booking.com/hotel/us/augusta-281-c...,2023-06-23,201,True,1.75,gewerblich,None,None,None,None,None
202922,97489,2023-04-15,Halle,https://www.booking.com/hotel/us/charming-wate...,2023-06-23,767,True,2.00,privat,None,None,None,None,None
202923,97490,2023-04-15,Halle,https://www.booking.com/hotel/us/clary-lake-be...,2023-06-23,101,True,2.35,gewerblich,None,None,None,None,None

In [7]:
# Die DataFrames basierend auf der 'city'-Spalte kombinieren, sodass in den neu hinzugefügten Spalten, die gleichen Werte ffür jede Stadt stehen
# Dies wird für alle Städte wiederholt
combined_df = merged_dataset.copy()
for index, row in tweets_cleaned.iterrows():
    city = row['city']
    mask = combined_df['city'] == city
    combined_df.loc[mask, 'event_name'] = row['event_name']
    combined_df.loc[mask, 'tweets'] = row['tweets']
    combined_df.loc[mask, 'retweets'] = row['retweets']
    combined_df.loc[mask, 'likes'] = row['likes']
    combined_df.loc[mask, 'replies'] = row['replies']

In [8]:
# Blick in den neuen DF
combined_df

,Unnamed: 0,date_crawl,city,uid,book_date,price,event,rating,provider,event_name,tweets,retweets,likes,replies
0,0,2023-03-30,La Palma,title_44546103,2023-05-20,90,True,4.78,privat,MLF23,18,8,68,1
1,1,2023-03-30,La Palma,title_14832235,2023-05-20,86,True,4.78,privat,MLF23,18,8,68,1
2,2,2023-03-30,La Palma,title_22183776,2023-05-20,63,True,4.90,privat,MLF23,18,8,68,1
3,3,2023-03-30,La Palma,title_26944967,2023-05-20,109,True,4.76,privat,MLF23,18,8,68,1
4,4,2023-03-30,La Palma,title_741718109680848267,2023-05-20,46,True,4.85,privat,MLF23,18,8,68,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202919,97484,2023-04-15,Halle,https://www.booking.com/hotel/us/augusta-civic...,2023-06-23,201,True,1.70,gewerblich,HändelFestival,0,0,0,0
202920,97485,2023-04-15,Halle,https://www.booking.com/hotel/us/fairfield-inn...,2023-06-23,213,True,2.02,gewerblich,HändelFestival,0,0,0,0
202921,97486,2023-04-15,Halle,https://www.booking.com/hotel/us/augusta-281-c...,2023-06-23,201,True,1.75,gewerblich,HändelFestival,0,0,0,0
202922,97489,2023-04-15,Halle,https://www.booking.com/hotel/us/charming-wate...,2023-06-23,767,True,2.00,privat,HändelFestival,0,0,0,0
202923,97490,2023-04-15,Halle,https://www.booking.com/hotel/us/clary-lake-be...,2023-06-23,101,True,2.35,gewerblich,HändelFestival,0,0,0,0

In [9]:
# DF in einer neuen CSV-Datei speichern
combined_df.to_csv('data_combined.csv', index=False, encoding='utf-8-sig', sep=',')

In [10]:
# DF in einer neuen JSON-Datei speichern
# combined_df.to_json('data_combined-json.json', orient='records', date_format='iso', force_ascii=False)